<div  ><!-- Carousel -->
    <div class="carousel slide" data-ride="carousel" id="carousel_inSlider">
        <ol class="carousel-indicators">
            <li class="test active" data-slide-to="0" data-target="#carousel_inSlider"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">

                <div class="carousel-caption">
                    <h4></h4>
                    <p>
                    </p>
                </div>

                <img alt="Carousel Bootstrap First" src="./img/header_one.png">
            </div>
        </div>
        <a class="left carousel-control" data-slide="prev" data-target="#carousel_inSlider" role="button">
            <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" data-slide="next" data-target="#carousel_inSlider" role="button">
            <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<section id="features" class="container services">
    <div class="row">
        <div class="col-sm-4">

            <h2>SAAS Web Apps</h2>
            <button ng-click="send()">TEst</button>
            <p>SAAS - (Software as a Service) allows you provide a software service to your customers. This service could be used to retain existing customers and or provide residual income.</p>
            <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
            <br>
            <h2>6 Chart Libraries</h2>
            <p>Give your customers high level information that visually helps them understand what the data means.</p>
            <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
        </div>
        <div class="col-sm-4">
            <h2>Fully responsive</h2>
            <p>Our interfaces are designed to work on Mobile Phones,Laptops,Tablets and Desktops</p>
            <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
            <br>
            <h2>Advanced Forms</h2>
            <p>Collect and store important information with easy to use forms</p>
            <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
        </div>
        <div class="col-sm-4 text-center wow fadeInRight" ng-controller="RegisterController">
            <br>
            <div ng-include="'components/security/quick_register.html'"></div>
        </div>
    </div>
</section>

<section  class="container features">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Over 40+ unique view<br/> <span class="navy"> with many custom components</span> </h1>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center wow fadeInLeft">
            <div>
                <i class="fa fa-mobile fa-5x features-icon"></i>
                <h2>Fully responsive</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-bar-chart fa-5x features-icon"></i>
                <h2>6 Charts Library</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
            </div>
        </div>
        <div class="col-md-6 text-center  wow zoomIn">
            <img src="img/perspective.png" alt="dashboard" class="img-responsive">
        </div>
        <div class="col-md-3 text-center wow fadeInRight">
            <div>
                <i class="fa fa-envelope fa-5x features-icon"></i>
                <h2>Mail pages</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-google fa-5x features-icon"></i>
                <h2>AngularJS version</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Discover great feautres</h1>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-6 features-text wow fadeInLeft">
            <small>INSPINIA</small>
            <h2>Perfectly designed </h2>
            <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with latest jQuery plugins.</p>
            <a href="" class="btn btn-primary">Learn more</a>
        </div>
        <div class="col-lg-6 text-right wow fadeInRight">
            <img src="img/dashboard.png" alt="dashboard" class="img-responsive pull-right">
        </div>
    </div>
</section>

<section id="team" class="gray-section team">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Our Team</h1>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 wow fadeInLeft">
                <div class="team-member">
                    <img src="img/no_pic.jpg" class="img-responsive img-circle img-small" alt="">
                    <h4><span class="navy">Amelia</span> Smith</h4>
                    <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus. </p>
                    <ul class="list-inline social-icon">
                        <li><a href="#"><i class="fa fa-2x fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member wow zoomIn">
                    <img src="img/no_pic.jpg" class="img-responsive img-circle" alt="">
                    <h4><span class="navy">John</span> Novak</h4>
                    <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p>
                    <ul class="list-inline social-icon">
                        <li><a href="#"><i class="fa fa-2x fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 wow fadeInRight">
                <div class="team-member">
                    <img src="img/no_pic.jpg" class="img-responsive img-circle img-small" alt="">
                    <h4><span class="navy">Peter</span> Johnson</h4>
                    <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p>
                    <ul class="list-inline social-icon">
                        <li><a href="#"><i class="fa fa-2x fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
            </div>
        </div>
    </div>
</section>
<section id="pricing" class="pricing">
    <div class="row">
        <div class="col-sm-1" id="snippet_236"></div>
        <div class="col-sm-10" id="snippet_237">
            <div class="row">
                <div class="col-sm-4" id="snippet_239">
                    <div>
                        <div class="db-pricing-eleven db-bk-color-one">
                            <div class="price">
                                <sup>$
                                </sup>
                                {{smallPlan.price}}
                                <small>per month</small>
                            </div>
                            <div class="type">
                                {{smallPlan.name}}
                            </div>
                            <ul>

                                <li ng-repeat="feature in smallPlan.features">
                                    <i class="fa fa-sm {{feature.icon}}"></i>{{feature.description}}</li>

                            </ul>
                            <div class="pricing-footer">
                                <a class="btn db-button-color-square btn-lg" href="#/subscribe/{{smallPlan.planId}}">Subscribe</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" id="snippet_241">
                    <div>
                        <div class="db-pricing-eleven db-bk-color-one">
                            <div class="price">
                                <sup>$
                                </sup>
                                {{medPlan.price}}
                                <small>per month</small>
                            </div>
                            <div class="type">
                                {{medPlan.name}}
                            </div>
                            <ul>

                                <li ng-repeat="feature in medPlan.features">
                                    <i class="fa fa-sm {{feature.icon}}"></i>{{feature.description}}</li>

                            </ul>
                            <div class="pricing-footer">
                                <a class="btn db-button-color-square btn-lg" href="#/subscribe/{{medPlan.planId}}">Subscribe</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" id="snippet_243">
                    <div>
                        <div class="db-pricing-eleven db-bk-color-one">
                            <div class="price">
                                <sup>$
                                </sup>
                                {{largePlan.price}}
                                <small>per month</small>
                            </div>
                            <div class="type">
                                {{largePlan.name}}
                            </div>
                            <ul>

                                <li ng-repeat="feature in largePlan.features">
                                    <i class="fa fa-sm {{feature.icon}}"></i>{{feature.description}}</li>

                            </ul>
                            <div class="pricing-footer">
                                <a class="btn db-button-color-square btn-lg" href="#/subscribe/{{largePlan.planId}}">Subscribe</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1" id="snippet_245"></div>
    </div>
</section>
<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Even more great feautres</h1>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
            </div>
        </div>
        <div class="row features-block">
            <div class="col-lg-3 features-text wow fadeInLeft">
                <small>INSPINIA</small>
                <h2>Perfectly designed </h2>
                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with latest jQuery plugins.</p>
                <a href="" class="btn btn-primary">Learn more</a>
            </div>
            <div class="col-lg-6 text-right m-t-n-lg wow zoomIn">
                <img src="img/laptop.png" class="img-responsive" alt="dashboard">
            </div>
            <div class="col-lg-3 features-text text-right wow fadeInRight">
                <small>INSPINIA</small>
                <h2>Perfectly designed </h2>
                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with latest jQuery plugins.</p>
                <a href="" class="btn btn-primary">Learn more</a>
            </div>
        </div>
    </div>

</section>

<section id="testimonials" class="navy-section testimonials">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow zoomIn">
                <i class="fa fa-comment fa-5x"></i>
                <h1>
                    What our users say
                </h1>
                <div class="testimonials-text">
                    <i>"Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."</i>
                </div>
                <small>
                    <strong>12.02.2014 - Andy Smith</strong>
                </small>
            </div>
        </div>
    </div>

</section>
<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>More and more extra great feautres</h1>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <small>INSPINIA</small>
                <h2>Perfectly designed </h2>
                <i class="fa fa-bar-chart fa-5x pull-right"></i>
                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
            </div>
            <div class="col-lg-5 features-text">
                <small>INSPINIA</small>
                <h2>Perfectly designed </h2>
                <i class="fa fa-bolt fa-5x pull-right"></i>
                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <small>INSPINIA</small>
                <h2>Perfectly designed </h2>
                <i class="fa fa-clock-o fa-5x pull-right"></i>
                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
            </div>
            <div class="col-lg-5 features-text">
                <small>INSPINIA</small>
                <h2>Perfectly designed </h2>
                <i class="fa fa-users fa-5x pull-right"></i>
                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
            </div>
        </div>
    </div>

</section>


<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Contact Us</h1>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="col-lg-3 col-lg-offset-3">
                <address>
                    <strong><span class="navy" translate="company.name">Edit i18n</span></strong><br />
                    <i translate="company.address1">Edit i18n</i><br/>
                    <i translate="company.city">Edit i18n</i>,
                    <i translate="company.state">Edit i18n</i>
                    <i translate="company.zip">Edit i18n</i>
                    <br/>
                    <abbr title="Phone">P:</abbr>
                    <i translate="company.phone">Edit i18n</i>
                    <br>
                    {{mycompany.email}}
                    <a href="mailto:{{email}}" translate="company.email">Edit i18n</a>
                </address>
            </div>
            <div class="col-lg-4">
                <p class="text-color">
                    Consectetur adipisicing elit. Aut eaque, totam corporis laboriosam veritatis quis ad perspiciatis, totam corporis laboriosam veritatis, consectetur adipisicing elit quos non quis ad perspiciatis, totam corporis ea,
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="mailto:{{email}}" class="btn btn-primary">Send us mail</a>
                <p class="m-t-sm">
                    Or follow us on social platform
                </p>
                <ul class="list-inline social-icon">
                    <li><a href="{{twitter}}"><i class="fa fa-2x fa-twitter"></i></a>
                    </li>
                    <li><a href="{{facebook}}"><i class="fa fa-2x fa-facebook"></i></a>
                    </li>
                    <li><a href="{{linkedin}}"><i class="fa fa-2x fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p><strong translate="company.copyright"></strong><br/> consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
            </div>
        </div>
    </div>
</section>
