<nav  class="nav navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header">
        <ul class="nav navbar-nav">
            <li class="nav-item" ><a >&copy; 2014-2018</a></li>
        </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item nav-end"><a class="nav-link" href="http://bluntsoftware.com">Built with <strong>OpenSAASame</strong> {{version}}</a></li>
        </ul>
    </div>
</nav>