<nav class="navbar navbar-default navbar-fixed-top {{classes}}" role="navigation">
    <div class="navbar-header">
        <button class="navbar-toggle" data-target="#navbar" data-toggle="collapse" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand"><img alt="Brand"
                                     src="https://www.wildappledesigngroup.com/themes/cherry_responsive_boilerplate/img/stamp-branding.png"
                                     height="100" width="125"></a></div>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav navbar-left">
           <li>

            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li ng-show="authenticated">
                <a ui-sref="index.account"><span class="fa fa-gear"></span>&nbsp;Account</a>
            </li>
            <li ng-show="authenticated" class="logout">
                <a ui-sref="logout">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
            <li ng-hide="authenticated" class="logout">
                <a ui-sref="login">
                    <i class="fa fa-sign-out"></i> Log in
                </a>
            </li>
        </ul>
    </div>
</nav>
